.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 15px 65px;
  background-color: rgb(40, 65, 90);
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(204, 204, 204, 0.136);
  width: 100%;
  /* min-width: 1000px; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 60px;
  border-radius: 5px;
}

.logo-text {
  display: flex;
  flex-flow: column;
  font-size: 20px;
  font-weight: 800;
}

.logo-text span {
  font-size: 15px;
  color: #fff;
}

.criar {
  /* background-color: aqua; */
  text-align: center;
  padding: 2px 5px;
}

.criar h3 {
  font-size: 18px;
  font-weight: 400;
  /* background-color: aqua; */
  margin-bottom: 8px;
}

.btn-add {
  color: rgb(255, 255, 255);
  background-color: rgba(204, 204, 204, 0.136);
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 12px;
  width: 80px;
  box-shadow: 3px 3px 0 black;
}

.btn-add:hover {
  scale: calc(1.05);
}

.btn-add:active {
  box-shadow: 0 2px 0 black;
  transform: translateY(3px);
}
